
.section-title {
        text-align: center;
        font-size: 2.55rem;
        font-weight: 300;

        @mixin atSmall{
            font-size: 3.75rem;
        }

        strong {
            font-weight:300;

            @mixin atSmall{
                font-weight:500;
            }
        }

        &--blue{
            color:$mainBlue;
        }
    
        &__icon{
            height:64px;
            width:64px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:.6rem;

            @mixin atSmall{
                margin-right: .5rem;
                display:inline-block;
                margin-left:0;
                margin-bottom:0;
            }

        }
    }
    
   
   