

.site-header{  
    position:absolute; 
    top: 0;
    
    z-index: 2;
    background-color: rgba($mainBlue, .55);
    transition:background-color .3s ease-out;
    width:100%;

    @mixin atMedium {
        position:fixed;
        background-color: rgba($mainBlue, .3);

        &--dark {
            background-color: rgba($mainBlue, .9);
        }
    }


   
    &__img {
        display: block;
        margin-left:auto;
        margin-right:auto;
       
        height:5.5rem;
        background-color: $mainBlue;
        padding:1.5rem;

        @mixin atMedium{
        display: inline-block;
        position:absolute;
        
        height:7rem;
        .site-header--dark & {
            transform: scale(.50);
            padding:.5rem;
            top:-30px;
        }
        
        }
    }
    &__menu-icon{
        position:absolute;
        top:10px;
        right:10px;
        
        @mixin atMedium{
            display:none;
        }

    }
    &__menu-content { 
         opacity: 0;
         transform: scale(1.01);
         transition:all 1s ease-out;
         z-index: -10;
         position:relative;
         text-align: center;

        
        @mixin atMedium{
            opacity:1;
            z-index:1; 
        } 

        &--is-visible{
            opacity:1;
            z-index:1;
            transform: scale(1);
    } 
  } 
}

